:root{
  --blanco: #FFFFFF;
  --oscuro: #212121;
  --primary: #FFC107;
  --secundary:  #0097A7;
  --gris:  #757575;

  --fuente_p:  1.8rem;
}

  html{
    font-size: 62.5;
  }

  body{
    font-size: 16px;
  }

  .titulo{
    text-align: justify;
    font-size: var(--fuente_p);
    color: var(--primary);
    font-family: Times New;
  }

  /*We can use rem, em, px for the size of text*/
  .titulo span{ /*Se usa el h1 span porque solo queremos editar ese*/
    font-size: 2rem;
    color: green;
  }