  html{
    font-size: 72.5;
  }
  body{
    font-size: 18px;
  }
  .titulo{
    text-align: justify;
    color: purple;
    width: 20rem;/*1rem = 10px*/
  }
  /*We can use rem, em, px for the size of text*/
  .titulo span{ /*Se usa el h1 span porque solo queremos editar ese*/
    font-size: 2rem;
    color: green;
  }
  p{
    color: blue;
  }
  nav{
    font-size: 32px;
  }

  .Sec p{
  font-size: 22px;
  color: green;
}

  .Sec2 p{
font-size: 22px;
color: #FF00FF;
}

  .Sec3 p{
font-size: 22px;
color: pink;
}
